* {
  -webkit-font-smoothing: antialiased !important;
  font-weight: 400 !important;
}

*:not(input) {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

*:not(.icon) {
  font-family: overpass !important;
}

.ui.icon.input input {
  padding-right: 3vw !important;
}

.cloud-applications .ui.left.action.icon.input {
  padding: 1em;
  width: 95%;
}

.cloud-applications .ui.left.action button {
  width: 70%;
}

.cloud-applications .ui.left.action input {
  width: 36%;
}


.menu-enter {
  transform: translate3d(-70vw, 0, 0);
  -webkit-transform: translate3d(-70vw, 0, 0);
}

.menu-enter.menu-enter-active {
  transform: translate3d(0, 0, 0);
  transition: transform 150ms ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: transform 150ms ease-out;
}

.menu-leave {
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
}

.menu-leave.menu-leave-active {
  transform: translate3d(-70vw, 0, 0);
  transition: transform 150ms ease-out;
  -webkit-transform: translate3d(-70vw, 0, 0);
  -webkit-transition: transform 150ms ease-out;
}

.cloud-applications .entry.cloud-app span {
  vertical-align: middle;
  font-size: 10pt;
}

.list-view .entry {
  color: #0e0e0e;
  padding: 1em 1em 1.25em;
  border-bottom: 1px solid #aaa;
}

.newsfeed .entry .description {
  overflow: hidden;
  transition: all 200ms;
  transition-timing-function: ease-in-out;
  -webkit-transition: all 200ms;
  -webkit-transition-timing-function: ease-in-out;
}

.newsfeed .entry .description .text {
  border-top: solid 0.1em #aaa;
  padding-top: 2vh;
}

.newsfeed .entry .description.closed {
  max-height: 0;
}

.newsfeed .entry .description.open {
  max-height: 100vh;
}

.newsfeed .entry h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu {
  top: 10vh;
  position: absolute;
  width: 70vw;
  height: 90vh;
  background: red;
  z-index: 100;
  box-shadow: 1px 0px 15px #333;
}

.menu ul {
  padding: 0;
  color: white;
  list-style: none;
  font-size: 140%;
}

.menu ul li {
  padding: .5em 1em;
  margin-bottom: 0.5em;
  background: rgb(70, 70, 70);
}

.ui.button {
  font-weight: 500 !important;
}

input {
  border-radius: 0 !important;
}

.colors.rh-red {
  color: rgb(193, 0, 0);
}
.colors.rh-green {
  color: rgb(158, 223, 35);
}
.colors.rh-blue {
  color: rgb(48, 147, 212);
}
.colors.rh-orange {
  color: rgb(238, 139, 47);
}
.colors.rh-white {
  color: rgb(240, 240, 240);
}
.colors.rh-base-grey {
  color: rgb(70, 70, 70)
}
.colors.rh-lighter-grey {
  color: rgb(113, 113, 113)
}
.colors.rh-white.bg {
  background: rgb(240, 240, 240);
}
.colors.rh-red.bg {
  background: rgb(193, 0, 0);
}
.colors.rh-green.bg {
  background: rgb(158, 223, 35);
}
.colors.rh-blue.bg {
  background: rgb(48, 147, 212);
}
.colors.rh-orange.bg {
  background: rgb(238, 139, 47);
}
.colors.rh-base-grey.bg {
  background: rgb(70, 70, 70)
}
.colors.rh-lighter-grey.bg {
  background: rgb(113, 113, 113)
}

.no-padding {
  padding: 0 !important;
}

.centered {
  text-align: center;
}

.hidden {
  display: none !important;
}

.loader {
  position: fixed;
  top: 10vh;
  display: inherit;
  height: 90vh;
  width: 100vw;
  z-index: 999;
  background: rgb(70, 70, 70);
}

.loader h3 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 8vh;
  color: white;
}

.sk-folding-cube {
  margin: 25vh auto 0;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0;
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1;
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0;
  }
}

.app-header {
  z-index: 100;
  background: #333333;
  height: 10vh;
  width: 100%;
  box-shadow: 0px 0px 1px 0px white;
}

.app-header img {
  margin: 5vw 3vw;
  width: 35vw;
}

.app-header.ios img {
  margin: 4vw 3vw;
}

.app-header small {
  margin: 2px 10px;
  color: white;
}

.app-header h3 {
  margin: 12px 10px 0;
  color: white;
  font-weight: 600 !important;
}

.app-header.ios {
  padding-top: 2vh;
}

.app-header .menu-icon {
  transform: rotateZ(0deg);
  transition-duration: 0.5s;
  transition-property: transform;
  -webkit-transform: rotateZ(0deg);
  -webkit-transition-duration: 0.5s;
  -webkit-transition-property: transform;
}

.app-header .menu-icon.active {
  transform: rotateZ(630deg);
  -webkit-transform: rotateZ(630deg);
}

.app-container {
  width: 100vw;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background: white;

  /* allow the bounce effect in iOS - more like a native application */
  -webkit-overflow-scrolling: touch;
}

.login {
  z-index: 333;
  position: fixed;
  width: 100vw;
  height: 90vh;
  top: 10vh;
  background: rgb(70, 70, 70);
}

.login form {
  padding: 20vh 12vw;
}

.login .ui.button {
  border: 0;
  background: rgb(193, 0, 0);
  color: white;
  border-radius: 0;
  width: 60%;
  margin: auto;
  text-transform: uppercase;
  margin-top: 2vh;
}

.login .ui.form .field > h3 {
  text-transform: uppercase;
  font-weight: 200;
  color: white;
}

.home .divider {
  width: 100%;
  margin: 0;
}

.home .icon-container {
  margin: auto;
  font-size: 1.5em;
}

.home .env-container:hover {
  background: rgb(70, 70, 70);
}

.home .env-container h4, .home .env-container p {
  color: white;
}

.environment .centered h3 {
  margin: 1vh -1vw 0 65vw;
  color: white;
  border-radius: 0.2em;
  font-weight: 500;
}

.environment .sixteen.wide.column {
  padding-bottom: 0;
}

.environment-selector .ui.dropdown {
  border-radius: 0.3em;
  width: 32vw;
  margin: 1vh 0 0 69vw;
  color: white;
}

.environment-selector select {
  border: 0;
  margin-top: 1vh;
  width: 29vw;
  font-size: 12pt;
  color: white !important;
  padding: 0.3em 0 0.3em 0.25em;
  -webkit-appearance: none;
  appearance: none;
}

.ios .environment-selector select {
  margin-top: 2vh;
}
